<!DOCTYPE html>
<html>

  <nav>
    <a href="<%= articles_index_path %>">INDEX</a>
    <a href="<%= articles_education_path %>">EDUCATION</a>
  </nav>

  <head>
    <title>TechnicalBriefing1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
